Sample/Topic.XSD

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
    targetNamespace="http://bindings.egain.com/ps/extension/migration/gen/kb"
    xmlns="http://bindings.egain.com/ps/extension/migration/gen/kb"
    elementFormDefault="qualified">
 
    <xs:element name="exportedTopic" type="ExportedTopic" />
    <xs:complexType name="ExportedTopic">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="1"
                maxOccurs="1" />
            <!-- egainTopicPath will be of escaped topic names -->
            <xs:element name="egainTopicPath" type="xs:string"
                minOccurs="1" maxOccurs="1" />
            <xs:element name="translate" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:enumeration value="0"></xs:enumeration>
                        <xs:enumeration value="1"></xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="exportedTopicLangDataList" type="ExportedTopicLangData"
                minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExportedTopicLangData">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1"
                maxOccurs="1" />
            <xs:element name="description" type="xs:string" minOccurs="0"
                maxOccurs="1" />
            <xs:element name="languageId" type="xs:int" minOccurs="1"
                maxOccurs="1" />
            <xs:element name="imageUrl" type="xs:string" minOccurs="0"
                maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>